<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <meta charset="{{ website.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="{{ website.robots }}">
    <meta name="keywords" content="{{ website.keywords }}">
    <meta name="description" content="{{ website.description }}">
    <meta name="author" content="{{ website.author }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ website.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ website.favicon }}" type="image/x-icon">
    <!-- /favicon -->

    <title>{{ website.title }}</title>

    <!-- Custom style -->
    <link rel="stylesheet" href="{{ website.css }}screen.css">

</head>
<body>
